Package: com.qiop1379.fixshitbook
Name: FixShitbook
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Fix crashes with the Facebook SDK
Maintainer: qwertyuiop1379 <thoffman8839@gmail.com>
Author: qwertyuiop1379 <thoffman8839@gmail.com>
Section: Tweaks
