<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Time Font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Font Weight</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.qiop1379.thinnerprefs/preferencechanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>timeWeight</string>
			<key>defaults</key>
			<string>com.qiop1379.thinnerprefs</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>8</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Text Alignment</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.qiop1379.thinnerprefs/preferencechanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.qiop1379.thinnerprefs</string>
			<key>key</key>
			<string>timeAlignment</string>
			<key>validTitles</key>
			<array>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Date Font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Font Weight</string>
			<key>footerText</key>
			<string>Note: If you have Twig installed, the settings for the time label will be applied to the Twig text.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.qiop1379.thinnerprefs/preferencechanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>dateWeight</string>
			<key>defaults</key>
			<string>com.qiop1379.thinnerprefs</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>8</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Text Alignment</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.qiop1379.thinnerprefs/preferencechanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.qiop1379.thinnerprefs</string>
			<key>key</key>
			<string>dateAlignment</string>
			<key>validTitles</key>
			<array>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>action</key>
			<string>reddit</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>reddit.png</string>
			<key>label</key>
			<string>Reddit</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>PayPal</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>GitHub</string>
		</dict>
	</array>
	<key>title</key>
	<string>Thinner</string>
</dict>
</plist>
