Package: com.qiop1379.designerxi
Name: DesignerXI
Version: 1.2.1
Architecture: iphoneos-arm
Description: Easily create and manage themes or zeppelin icons directly from your device!
Maintainer: qwertyuiop1379
Author: qwertyuiop1379
Section: Utilities
Depiction: https://qwertyuiop1379.github.io/depiction/designerxi/index.html
