{
	items = 
	(
		{
			cell = PSGroupCell;
			label = "Tweak";
			footerText = "No respring required.";
		},

		{
			PostNotification = "com.qiop1379.yessir";
			defaults = "com.qiop1379.yessir";
			cell = PSSwitchCell;
			default = 1;
			key = "dark";
			label = "Dark blur";
		},

		{
			PostNotification = "com.qiop1379.yessir";
			defaults = "com.qiop1379.yessir";
			cell = PSSwitchCell;
			default = 1;
			key = "alerts";
			label = "Enable for alerts";
		},

		{
			PostNotification = "com.qiop1379.yessir";
			defaults = "com.qiop1379.yessir";
			cell = PSSwitchCell;
			default = 1;
			key = "actionsheets";
			label = "Enable for action sheets";
		}
	);

	title = "Yessir";
}