<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Phone keypad style</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.qiop1379.romankeypad/prefchanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.qiop1379.romankeypadprefs</string>
			<key>key</key>
			<string>phoneStyle</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Clear</string>
				<string>Roman</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Passcode keypad style</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.qiop1379.romankeypad/prefchanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.qiop1379.romankeypadprefs</string>
			<key>key</key>
			<string>passcodeStyle</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Clear</string>
				<string>Roman</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.qiop1379.romankeypad/prefchanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.qiop1379.romankeypadprefs</string>
			<key>key</key>
			<string>dash</string>
			<key>label</key>
			<string>Replace 0 with -</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>action</key>
			<string>reddit</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>reddit.png</string>
			<key>label</key>
			<string>Reddit</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>PayPal</string>
		</dict>
		<dict>
			<key>action</key>
			<string>GitHub</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>GitHub</string>
		</dict>
	</array>
	<key>title</key>
	<string>RomanKeypad</string>
</dict>
</plist>
