Package: com.qiop1379.dockoutline
Name: DockOutline
Depends: mobilesubstrate, com.creaturesurvive.libcscolorpicker
Version: 1.1.3
Architecture: iphoneos-arm
Description: Turn the dock into an outline
Maintainer: qwertyuiop1379
Author: qwertyuiop1379
Section: Tweaks
Depiction: https://qwertyuiop1379.github.io/depiction/dockoutline/index.html
