<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>alpha</key>
			<false/>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.qiop1379.dockoutlineprefs</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/DockOutlinePrefs.bundle</string>
			<key>fallback</key>
			<string>ffffff</string>
			<key>key</key>
			<string>outlineColor</string>
			<key>label</key>
			<string>Outline color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Change the outline size on the dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.qiop1379.dockoutlineprefs</string>
			<key>key</key>
			<string>outlineWidth</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>4</integer>
			<key>max</key>
			<integer>5</integer>
			<key>min</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply</string>
		</dict>
	</array>
	<key>title</key>
	<string>DockOutline</string>
</dict>
</plist>
