Package: com.qiop1379.pulse
Name: Pulse
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: make the passcode buttons pulse when pressed
Maintainer: qwertyuiop1379 <thoffman8839@gmail.com>
Author: qwertyuiop1379 <thoffman8839@gmail.com>
Section: Tweaks
